<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5level] %logger{36} - %msg%n" />
        </Console>
        <File name="file_debug" fileName="logs/app_debug.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5level] %logger{36} - %msg%n" />
            <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="file_error" fileName="logs/app_error.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5level] %logger{36} - %msg%n" />
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <GuiAppender name="guiAppender">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5level] %logger{36} - %msg%n"/>
        </GuiAppender>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="console" />
            <AppenderRef ref="file_debug" />
            <AppenderRef ref="file_error" />
            <AppenderRef ref="guiAppender" />
        </Root>
    </Loggers>
</Configuration>
